body {
    margin: 0;
    display: flex;
    height: 100vh;
    cursor: pointer;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    font-family:Arial, Helvetica, sans-serif;
}

h2 {
    color: #333;
    margin-bottom: 20px;
}

p {
    color: gray;
    text-align: center;
}

button {
    width: 100%;
    border: none;
    color: #fff;
    border-radius: 4px;
    padding: 10px 20px;
    background-color: #007bff;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

input[type="text"], input[type="password"] {
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    width: calc(100% - 20px);
    border: 1px solid #ccc;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    color: #666;
    display: block;
    margin-bottom: 5px;
}

.form-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.protected-area {
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    background-color: #f0f0f0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.protected-area p {
    color: #333;
    margin-top: 10px;
}

.btnCerrar {
    margin-top: 20px;
}

.btnIniciarS{
    margin-top: 10px;
    margin-bottom: 10px;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    width: 300px;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #ccc;
    background-color: #88bdee48;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.error-message {
    font-size: 14px;
    margin-top: 5px;
    color: #535151fd;
}

.btnCerrar {
    border: none;
    color: #fff;
    cursor: pointer;
    margin-top: 10px;
    padding: 8px 16px;
    border-radius: 4px;
    background-color: #007bff;
    transition: background-color 0.3s ease;
}

.btnCerrar:hover {
    background-color: #0056b3;
}

.info {
    margin-top: 10px;
    text-align: left;
}

.info p {
    margin: 5px 0;
}