.App {
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  margin: 5px;
  padding: 5px;
}

button {
  margin: 5px;
  padding: 5px 10px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-list {
  max-width: 600px; /* Limitando el ancho de la lista */
 
}

.product-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  background-color: #f0f8ff;
  padding: 10px;
  border-radius: 5px;
  width: 100%; /* Ajustando el ancho de los elementos */
}

.product-item span {
  flex: 1;
  text-align: left;
}

.product-item button {
  margin-left: 10px;
  background: none;
  border: none;
  color: #007bff;
}

.product-item button:hover {
  color: #0056b3;
}
