body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #00a6dd 0%, #ffffff 50%, #00a6dd 100%);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 100%;
    max-width: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

h1 {
    text-align: center;
}

form {
    margin-bottom: 20px;
}

form h2 {
    margin-bottom: 10px;
    font-size: 18px;
    justify-content: center;
    display: flex;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
    width: calc(100% - 22px);
    padding: 8px;
    font-size: 14px;
    border: 1px solid #7c7c7c;
    border-radius: 10px;
}

button {
    background-color: #000000;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    margin-right: 10px;
    margin-left: 10px;
}

button:hover {
    color: #000000;
    background-color: #fbff00;
}

.logout-btn {
    background-color: #dc3545;
    display: block;
    margin: 0 auto;
}

.logout-btn:hover {
    background-color: #c82333;
}

.botonesinicio {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
