
        /* General Styles */
        body {
            font-family: 'Roboto', sans-serif;
            background-color: #f4f4f9;
            margin: 0;
            padding: 20px;
            color: #333;
        }
        
        h1 {
            text-align: center;
            color: #007bff;
        }
        
        h2 {
            text-align: center; /* Centra el texto horizontalmente */
            color: #6c757d; /* Color gris */
            position: absolute; /* Lo posiciona absolutamente */
            top: 35%; /* Lo coloca en la mitad de la pantalla verticalmente */
            left: 50%; /* Lo coloca en la mitad de la pantalla horizontalmente */
            transform: translate(-50%, -50%); /* Lo ajusta para que esté centrado correctamente */
        }
        
        
        /* Panel Styles */
        /* Panel Styles */
        .panel {
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            padding: 20px;
            margin: 0 auto; /* Centra el panel horizontalmente */
            margin-bottom: 20px;
            transition: transform 0.2s;
            width: 400px;
        }
        
        
        .panel:hover {
            transform: scale(1.02);
        }
        
        /* Form Styles */
        form {
            display: flex;
            flex-direction: column;
        }
        
        label {
            margin-bottom: 8px;
            font-weight: bold;
            color: #007bff;
        }
        
        input {
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
        }
        
        /* Button Styles */
        .btnAgregar {
            display: block;
            margin: 0 auto; /* Centra el botón horizontalmente */
            width: 300px; /* Ajusta el ancho del botón */
        }
        
        
        
        
        .btnAcciones {
            display: flex;
            justify-content: space-between; /* Cambia space-around a space-between para que los botones estén uno al lado del otro */
        }
        
        .btnAcciones button {
            width: 180px; /* Ajusta el ancho de los botones */
        }
        
        
        button {
            background-color: #007bff;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
            font-size: 16px;
        }
        
        button:hover {
            background-color: #0056b3;
        }
        
        button:last-of-type {
            background-color: #6c757d;
        }
        
        button:last-of-type:hover {
            background-color: #5a6268;
        }
        
        /* Contact Display Styles */
        .panel p {
            margin: 10px 0;
            font-size: 18px;
        }
        
        .panel p strong {
            color: #007bff;
        }
            