
html {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: 16px;
    background: linear-gradient(45deg, #f0e3a4, #fae8dc);
    color: #262626;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(45deg, #e9c176, #ecd4c3);
}


#root {
    width: 100%;
    max-width: 500px;
    margin: 20px;
    padding: 20px;
    background-color: #fdf5e6;
    border-radius: 12px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}


h1, h2, h3, h4, h5, h6 {
    color: #262626;
    margin: 8px 0;
    text-align: center;
    font-weight: 600;
}

button {
    padding: 10px 15px;
    color: #fff;
    background-color: #3897f0;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

button:hover {
    background-color: #287cc1;
}

form {
    width: 100%;
    margin-bottom: 20px;
}

form label {
    display: block;
    margin: 10px 0 5px;
    font-size: 14px;
    color: #999;
}

form input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #dbdbdb;
    border-radius: 8px;
    background-color: #f1f1f1;
    font-size: 16px;
    color: #262626;
}

form input:focus {
    border-color: #a8a8a8;
    background-color: #eaeaea;
}

form button[type='submit'] {
    width: 100%;
    font-weight: bold;
    margin-top: 10px;
    background-color: #3897f0;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 10px 15px;
}

form button[type='submit']:hover {
    background-color: #287cc1;
}

.message {
    margin: 20px 0;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 8px;
    text-align: center;
    background-color: #60df7d;
    border-color: #354739;
}

.message.success {
    color: black;
    background-color: #17e948;
    border-color: #354739;
}

.message.error {
    color: #a12020;
    background-color: transparent;
    border-color: transparent;
}

.info {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #dbdbdb;
    border-radius: 8px;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
