.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-card {
  margin-top: 50px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 10px;
}

.contact-list {
  margin-top: 20px;
  width: 100%;
}

.contact-card {
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
  width: 100%;
  background-color: gray;
}

.contact-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-button {
  margin-left: auto;
}
