
html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    background-color: #f4f4f9;
    color: #333;
}

body {
    background-color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


#root {
    width: 100%;
    max-width: 500px;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}


h1, h2, h3, h4, h5, h6 {
    color: #333;
    margin: 8px 0;
    text-align: center;
}


button {
    padding: 10px 15px;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}


form {
    width: 100%;
    margin-bottom: 20px;
}

form label {
    display: block;
    margin: 10px 0 5px;
    font-size: 14px;
    color: #666;
}

form input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #bbb;
    border-radius: 5px;
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    color: #333;
}

form button[type='submit'] {
    width: 100%;
    font-weight: bold;
    margin-top: 10px;
}

.info {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    text-align: center;
}

.info img.info-image {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.message {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.message.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.message.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}


.logout {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}


.logout {
    position: absolute;
    top: 20px;
    right: 20px;
}
