body {
    background-image: url(https://i.pinimg.com/originals/e7/82/f2/e782f26191379c9f406a084477234347.jpg);
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.main {
    width: 93%;
    max-width: 1800px;
    margin: 0 auto 20px auto;
    text-align: center;
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center;
}

  
.contacto {
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    background-color: #000000;
    color: #f0f0f0; 
    width: 300px;
}


.contacto h3 {
    margin-bottom: 10px;
    font-size: 18px;
}

.contacto p {
    margin-top: 5px;
    font-size: 14px;
}

.principio {
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 10px;
    margin-bottom: 20px;
    background-color: #ffffff;
    color: #000000;
    text-align: center;
}

.principio p {
    margin: 10px;
}

.logo {
    width: 100px;
    height: auto;
}

footer {
    text-align: center;
    margin-top: 20px;
    background-color: #000000;
    color: #ffffff;
    padding: 5px;
}

nav{
    background-color: #000000;
    color:#ffffff;
    text-align: center;
    padding: 1px;
}