.App {
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 20px;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

.add-button {
  font-size: 2em;
  padding: 10px;
  margin-left: 10px;
  cursor: pointer;
}

.product-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f9f9f9;
  padding: 10px;
  margin: 10px 0;
  width: 80%;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.quantity {
  font-size: 2em;
  color: blue;
  margin-right: 20px;
}

.details {
  flex-grow: 1;
  text-align: left;
}

.name {
  font-size: 1.2em;
  font-weight: bold;
}

.ean {
  font-size: 1em;
  color: gray;
}

.actions {
  display: flex;
  align-items: center;
}

.edit-button,
.delete-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
  margin-left: 10px;
}

.edit-button:hover {
  color: green;
}

.delete-button:hover {
  color: red;
}
