body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    margin-left: 25px;
}

.titulo {
    text-align: center;
}

.contactos-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.tarjeta {
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    border: 1px solid #865454;
    border-radius: 5px;
    flex: 1 1 100px;
    background-color: rgba(200, 200, 200, 0.5);
    width: 270px;
    height: 140px;
    display: inline-block;
}

.tarjeta h2 {
    margin-top: 0;
    color: #850a0a
}

.tarjeta p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.cursiva {
    font-style: italic;
}