body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.inventory-container {
  margin: 20px auto;
  padding: 20px;
  max-width: 600px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.product-container {
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 10px;
}

.product-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-details div {
  margin-right: 10px;
}

.product-details input {
  margin-bottom: 5px;
}

.product-actions button {
  margin-right: 5px;
}

.product-actions button:last-child {
  margin-right: 0;
}

/* Estilos para los botones de editar y borrar */
.edit-button, .delete-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-right: 5px;
  outline: none;
}

/* Estilos para el icono de editar */
.edit-button::before {
  content: "\270E"; /* Símbolo Unicode del lápiz */
}

/* Estilos para el icono de borrar */
.delete-button::before {
  content: "\2716"; /* Símbolo Unicode de la X */
}

/* Estilos para separar un poco los elementos del formulario */
form {
  margin-bottom: 20px;
}

